body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.app_bar{
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
    height: 56px;
    width: 100%;
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.87)
}

.menu_button{
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-left: 16px;
    color: white;
}

.material-icons.search{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 16px;
    right: 56px;
    color: white;
    margin: 0;
}

.material-icons.navigation{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    margin: 0;
}

.tab{
    display: flex;
    flex-direction: column;
    width: 125px;
    text-align: center;
}

.tab_text{
    color: white;
    margin-top: 42px;
    margin-bottom: 7px;
}

.tab_indicator{
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu{
    background-color: white;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 319px;
    top: 0;
    left: -327px;
    box-shadow: 8px 0 20px -4px rgba(0, 0, 0, 0.87);
}

.menu_visible{
    animation: show 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes show{
    0%{
        left: -327px;
    }
    100%{
        left: 0;
    }
}

.menu_hidden{
    animation: hide 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes hide{
    0%{
        left: 0;
    }
    100%{
        left: -327px;
    }
}

.dark_box{
    display: none;
}

.fade_in{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    animation: fadein 0.3s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

.fade_out{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    animation: fadeout 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.menu_img{
    width: 100%;
}

.material-icons.plzMakeIt64px{
    font-size: 64px;
}

.account_img{
    position: absolute;
    top: 24px;
    left: 16px;
    width: 64px;
    height: 64px;
    color: #757575;
}

.grid_list{
    align-self: center;
    margin-top: 8px;
    max-width: 375px;
}

.grid_picture{
    height: 120px;
    width: 120px;
    margin: 0;
}

.menu_icon{
    width: 24px;
    height: 24px;
    color: black;
}

.current_page{
    color: #ff6d00;
}

.background_tiny_bit_darker{
    background: rgba(0, 0, 0, 0.13);
}

.starred{
    height: 36px;
    display: flex;
    align-items: center;
}

.new{
    height: 36px;
    display: flex;
    align-items: center;
}

.settings{
    height: 36px;
    display: flex;
    align-items: center;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#title{
    color: white;
    width: 223px;
    margin-top: 16px;
    margin-bottom: 0;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
}

.material-icons{
    margin-right: 32px;
    margin-left: 16px;
}

.popup{
    display: none;
}

.popup_visible{
    flex-direction: column;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    width: 250px;
    animation: popup_fadein 0.3s 1;
    animation-fill-mode: forwards;
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.87);
    z-index: 3;
}

@keyframes popup_fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.popup_hidden{
    animation: popup_fadeout 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes popup_fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#popup_title{
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.popup_button{
    color: #ff6d00;
    margin-right: 8px;
}

.dark_box_popup{
    display: none;
}

.setting_option{
    height: 56px;
    display: flex;
    align-items: center;
}

.oval_start{
    position: absolute;
    right: 24px;
    background-color: #000;
    opacity: 0.3;
    height: 16px;
    width: 40px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0;
}

.round_start{
    position: absolute;
    right: 40px;
    background-color: #e1e1e1;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.oval_off{
    position: absolute;
    right: 24px;
    background-color: #000;
    opacity: 0.3;
    height: 16px;
    width: 40px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0;
    animation: oval_off 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes oval_off{
    0%{
        background-color: #ff6d00;
        opacity: 0.54;
    }
    100%{
        background-color: #000;
        opacity: 0.3;
    }
}

.oval_on{
    position: absolute;
    right: 24px;
    background-color: #ff6d00;
    opacity: 0.54;
    height: 16px;
    width: 40px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0;
    animation: oval_on 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes oval_on{
    0%{
        background-color: #000;
        opacity: 0.3;
    }
    100%{
        background-color: #ff6d00;   
        opacity: 0.54; 
    }
}

.round_off{
    position: absolute;
    right: 40px;
    background-color: #e1e1e1;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    animation: round_off 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes round_off{
    0%{
        background-color: #ff6d00;
        right: 24px;
    }
    100%{
        background-color: #e1e1e1;
        right: 40px;
    }
}

.round_on{
    position: absolute;
    right: 24px;
    background-color: #ff6d00;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    animation: round_on 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes round_on{
    0%{
        background-color: #e1e1e1;
        right: 40px;
    }
    100%{
        background-color: #ff6d00;
        right: 24px;
    }
}

#first_oval{
    top: 76px;
}

#first_round{
    top: 72px;
}

#second_oval{
    top: 132px;
}

#second_round{
    top: 128px;
}










@media (orientation: landscape){
    .popup_visible{
        flex-direction: column;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: calc((100vh - 298px) /2);
        background-color: white;
        padding-left: 24px;
        padding-right: 24px;
        width: 250px;
        animation: popup_fadein 0.3s 1;
        animation-fill-mode: forwards;
    }

    .grid_list{
        align-self: center;
        margin-top: 8px;
        max-width: 626px;
    }
}

@media (max-width: 374px){
    .grid_list{
        align-self: center;
        margin-top: 8px;
        max-width: 250px;
    }
    .menu{
    background-color: white;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 264px;
    top: 0;
    left: -327px;
    box-shadow: 8px 0 20px -4px rgba(0, 0, 0, 0.87);
}
}


@media (orientation: portrait) and (min-width: 700px){
    .grid_list{
        align-self: center;
        margin-top: 8px;
        max-width: 626px;
    }
}

@media (orientation: landscape) and (max-width: 600px){
    .grid_list{
    align-self: center;
    margin-top: 8px;
    max-width: 492px;
}
}