body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.app_bar{
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
    height: 56px;
    width: 100%;
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.87)
}

/*.tab_bar{
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
    height: 72px;
    width: 100%;
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.87)
}*/

.menu_button{
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-left: 16px;
    color: white;
}

.material-icons.search{
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 0;
    color: white;
}

.material-icons.navigation{
    margin-top: 16px;
    height: 24px;
    width: 24px;
    margin-left: 0;
    margin-right: 0;
    color: white;
}

.tab{
    display: flex;
    flex-direction: column;
    width: 125px;
    text-align: center;
}

.tab_text{
    color: white;
    margin-top: 42px;
    margin-bottom: 7px;
}

.tab_indicator{
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 319px;
    top: 0;
    left: -327px;
    box-shadow: 8px 0 20px -4px rgba(0, 0, 0, 0.87)
}

.menu_visible{
    animation: show 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes show{
    0%{
        left: -327px;
    }
    100%{
        left: 0;
    }
}

.menu_hidden{
    animation: hide 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes hide{
    0%{
        left: 0;
    }
    100%{
        left: -327px;
    }
}

.dark_box{
    display: none;
}

.fade_in{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    animation: fadein 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

.fade_out{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    animation: fadeout 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.menu_img{
    width: 100%;
}

.material-icons.plzMakeIt64px{
    font-size: 64px;
}

.account_img{
    position: absolute;
    top: 24px;
    left: 16px;
    width: 64px;
    height: 64px;
    color: #757575;
}

.grid_list{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.grid_vertical{
    display: flex;
    flex-direction: column;
}

.grid_picture{
    height: 121px;
    width: 121px;
    margin: 1.5px;
    margin-top: 3px;
}

.menu_icon{
    width: 24px;
    height: 24px;
    color: black;
}

.current_page{
    color: #ff6d00;
    /*background-color: rgba(0, 0, 0, 0.26)*/
}

.background_tiny_bit_darker{
    background: rgba(0, 0, 0, 0.13);
}

.starred{
    height: 36px;
    display: flex;
    align-items: center;
}

.new{
    height: 36px;
    display: flex;
    align-items: center;
}

.settings{
    height: 36px;
    display: flex;
    align-items: center;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

#title{
    color: white;
    width: 223px;
    margin-top: 16px;
    margin-bottom: 0;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
}

.material-icons{
    margin-right: 32px;
    margin-left: 16px;
}

.popup{
    display: none;
}

.popup_visible{
    flex-direction: column;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
    background-color: white;
    padding: 24px;
    padding-bottom: 8px;
    width: 250px;
    animation: popup_fadein 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes popup_fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.popup_hidden{
    animation: popup_fadeout 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes popup_fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#popup_title{
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.popup_button{
    color: #ff6d00;
    margin-right: 8px;
}