body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.app_bar{
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
    height: 56px;
    width: 100%;
}

.tab_bar{
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
    height: 72px;
    width: 100%;
    box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.87)
}

.menu_button{
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 254px;
    color: white;
}

.search{
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-right: 17px;
    color: white;
}

.navigation{
    margin-top: 16px;
    height: 24px;
    width: 24px;
    color: white;
}

.tab{
    display: flex;
    flex-direction: column;
    width: 125px;
    text-align: center;
}

.tab_text{
    color: white;
    margin-top: 42px;
    margin-bottom: 7px;
}

.tab_indicator{
    width: 100%;
    height: 2px;
    background-color: white;
}

.menu{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 319px;
    top: 0;
    left: -319px;
}

.menu_visible{
    animation: show 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes show{
    0%{
        left: -319px;
    }
    100%{
        left: 0;
    }
}

.menu_hidden{
    animation: hide 0.3s 1;
    animation-fill-mode: forwards;
}

@keyframes hide{
    0%{
        left: 0;
    }
    100%{
        left: -319px;
    }
}

.dark_box{
    display: none;
}

.fade_in{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    animation: fadein 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5
    }
}

.fade_out{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    animation: fadeout 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeout{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.menu_img{
    width: 100%;
}

.material-icons.plzMakeIt64px{
    font-size: 64px;
}

.account_img{
    position: absolute;
    top: 24px;
    left: 16px;
    width: 64px;
    height: 64px;
    color: #757575;
}

.grid_list{
    display: flex;
    flex-direction: row;
}

.grid_vertical{
    display: flex;
    flex-direction: column;
}

.grid_picture{
    height: 121px;
    width: 121px;
    margin: 3px;
}

.menu_icon{
    width: 24px;
    height: 24px;
    color: black;
}

.current_page{
    color: #ff6d00;
}

.starred{
    height: 36px;
}

.new{
    height: 36px;
}

.settings{
    height: 36px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}