<div class="tab_bar">
    <div class="tab">
        <p class="tab_text">HAIR</p>
        <div class="tab_indicator"></div>
    </div>
    <div class="tab">
        <p class="tab_text">CLOTHES</p>
    </div>
    <div class="tab">
        <p class="tab_text">MAKEUP</p>
    </div>
</div>

<!--<div class="grid_list">
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair1.jpg">
        <img class="grid_picture" src="./img/hair2.jpg">
    </div>
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair3.jpg">
        <img class="grid_picture" src="./img/hair4.jpg">
    </div>
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair5.jpg">
    </div>
</div>-->