<div class="tab_bar">
    <div class="tab">
        <p class="tab_text">HAIR</p>
    </div>
    <div class="tab">
        <p class="tab_text">CLOTHES</p>
    </div>
    <div class="tab">
        <p class="tab_text">CLOTHES</p>
    </div>
</div>