<div class="grid_list">
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair5.jpg">
        <img class="grid_picture" src="./img/hair4.jpg">
    </div>
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair3.jpg">
        <img class="grid_picture" src="./img/hair2.jpg">
    </div>
    <div class="grid_vertical">
        <img class="grid_picture" src="./img/hair1.jpg">
    </div>
</div>