<div class="grid_list">
    <div class="grid_vertical">
        <img id="5" class="grid_picture" src="./img/hair5.jpg" onclick="popup_function(this.id)">
        <img id="4" class="grid_picture" src="./img/hair4.jpg" onclick="popup_function(this.id)">
    </div>
    <div class="grid_vertical">
        <img id="3" class="grid_picture" src="./img/hair3.jpg" onclick="popup_function(this.id)">
        <img id="2" class="grid_picture" src="./img/hair2.jpg" onclick="popup_function(this.id)">
    </div>
    <div class="grid_vertical">
        <img id="1" class="grid_picture" src="./img/hair1.jpg" onclick="popup_function(this.id)">
    </div>
</div>