<div class="grid_list">
    <img id="img_5" class="grid_picture" src="./img/hair5.jpg" onclick="show_popup(this.id)">
    <img id="img_4" class="grid_picture" src="./img/hair4.jpg" onclick="show_popup(this.id)">
    <img id="img_3" class="grid_picture" src="./img/hair3.jpg" onclick="show_popup(this.id)">
    <img id="img_2" class="grid_picture" src="./img/hair2.jpg" onclick="show_popup(this.id)">
    <img id="img_1" class="grid_picture" src="./img/hair1.jpg" onclick="show_popup(this.id)">
</div>

<section id="popup" class="popup">
    <h2 id="popup_title">Apply hairstyle?</h2>
    <p>Do you wish to apply this hairstyle to yourself?</p>
    <img id="popup_picture" src="" alt="Picture of hair"></img>
    <div class="buttons" onclick="hide_popup()">
        <p class="popup_button">CANCEL</p>
        <p class="popup_button">APPLY</p>
</section>