<div class="setting_option">
    <i class="material-icons">volume_up</i>
    <p class="setting_text">Volume</p>
    <div id="first_oval" class="oval_start" onclick="volume_function()"></div>
    <div id="first_round" class="round_start" onclick="volume_function()"></div>
</div>

<div class="setting_option">
    <i class="material-icons">notifications</i>
    <p class="setting_text">Notifications</p>
    <div id="second_oval" class="oval_start" onclick="notifications_function()"></div>
    <div id="second_round" class="round_start" onclick="notifications_function()"></div>
</div>